name: Benchmarks
on:
  pull_request_target:
    branches: [ master ]
permissions:
  pull-requests: write

jobs:
  bench:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
          - 'lts'
          - '1'
    steps:
      - uses: MilesCranmer/AirspeedVelocity.jl@action-v1
        with:
          julia-version: ${{ matrix.version }}